.question{

    h2{
        font-size:$h2-font-size;
        border-left: 10px solid #9F1213;

        @include ipad(){
            font-size:$h2-font-size;
            margin-top: 80px;
        }
    }

    h4{
        font-size:$h4-font-size;
    }

    &-detail{
        font-size:$h5-font-size;
    }

    .answer{
        font-size:$font-size-base;
    
    }
   
}




