.background-image{
    max-width:100%;
    height: 787px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include mobile(){

        height: 396px;

    }

    .title{
       text-align: right;
       color: $danger;
       padding-right: 140px;

       @include ipad(){

        padding-right: 40px;

       }

       
        .subtitle{
            font-size: $h3-font-size;

            @include mobile(){

                font-size: $font-size-base;
            }
        }
  
        @keyframes example{
            from {left:0px; top:0px;}
            to {left:100px; top:0px;}
        }
        .animate{
            position: relative;
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: 2;
        }
    
        .h1-title{
            font-size: $h1-font-size;

            @include mobile(){
                
                font-size:$h4-font-size;
            }
        }
    
        .buy-button{
            display: inline-block;
            font-size: $h5-font-size;
            text-decoration: none;
            background-color: $primary;
            color:$white;
            padding: 6px 12px;

            &:hover{
                color:$dark;
            }
        }

    }
   
}

.sub-background{
    background-color: $secondary;

    .sub-content{

        .h2-title{
            padding-top: 80px;
            padding-bottom: 32px;
            font-size:$h2-font-size;
            color: $danger;
            text-align: center;

            @include mobile(){

                font-size:$h4-font-size;

            }

        }

        .service-content{
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-bottom: 80px;
            
            @include ipad(){

                flex-wrap: wrap;
    
            }

            @include mobile(){
                
                flex-direction: column;
                align-items: center;
                padding: 40px 0px;
                
            }

            .content{
                width: 306px;
                text-align: center;

                p{
                    text-align: left;
                }
            }

            img{
                display: inline-block;
                width: 84px;
                height: 84px;
            }
            .h4-title{
                padding-top: 24px;
                padding-bottom: 8px;
                font-size: $h4-font-size;
                color: $danger;
            }
            
        }

    }
}


.service-photo{
    padding-bottom: 80px;

    .h2-title{
        padding-top: 80px;
        padding-bottom: 48px;
        font-size:$h2-font-size;
        color: $danger;
        text-align: center;
    }
    
    .photo-list{

        display: flex;
        justify-content: center;
        align-items: center;

        @include ipad(){

            flex-wrap: wrap;
        }


        @include mobile(){

            flex-wrap: wrap;
        }

        img{
           
            display:block;
            width: 100%;
            padding-bottom: 8px;

            @include ipad(){
                margin: 0 auto;
                width: 50%;
               
            }

            @include mobile(){
                width: 100%;
            }
        }
    
        .photo-title{
            font-size:$h2-font-size;
            color: $primary;
            text-align: center;
        }
       
        
    }
   
}


.background-design{
    max-width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");

    @include ipad(){
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    }
    .h2-title{
        color: $white;
        font-size:$h2-font-size;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 48px;
    }

    .design-glasses{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
        padding-left: 120px;
        padding-right: 120px;

        @include ipad(){
           
            margin: 0 auto;
            flex-wrap: wrap;
            padding-left: 36px;
            padding-right: 36px;
           
           
        }

        .mb-24{

            @include ipad(){
                margin-bottom: 24px;
            }
        }

        img{
            display:block;
            width:100%;

        }

        .design-title{
            padding: 8px 0px;
            text-align: center;
            font-size: $h2-font-size;
            color:$primary;
            background: $white;
        }
    }
}

.customer-recommed{
    padding-bottom: 80px;

    .h2-title{
        padding-top: 80px;
        padding-bottom: 48px;
        font-size:$h2-font-size;
        color: $danger;
        text-align: center;
    }
   
    .customer-box{
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: 0 auto;
       
        
        @include ipad(){

            flex-wrap: wrap;
           
           
        }

        @include mobile(){

            flex-wrap: wrap;
           
        }


    }
}

.box-shadow{
    box-shadow: 1px 1px 6px gray;
    margin-left: 24px;

    @include ipad(){
        margin: auto;
        width: 45%;
        margin-bottom: 24px;
    
       
    }

    @include mobile(){
       
        width: 90%;
        margin-bottom: 24px;
       
    }
   
    img{
        display: block;
        width: 100%;

    }

    .customer-info{
       
       display: flex;
       flex-direction: column;
       padding: 8%;
       max-height: 150px;

       .customer-title{
           min-height: 70px;
       }
    

       .date{
           padding-top: 48px;
           margin-top: auto;
       }
       
    }
} 



.background-contact{
    background-color: $secondary;
    

    .h2-title{
        padding-top: 80px;
        padding-bottom: 48px;
        font-size:$h2-font-size;
        color: $danger;
        text-align: center;
    }

    .contact-form{

        width: 70%;
        margin: 0 auto;

        @include ipad(){

            width: 80%;
        }

        @include mobile(){

            width: 90%;
        }


        .h5-title{
            font-size: $h5-font-size;
            padding-bottom: 24px;
        }

        .input-content{
            width:100%;
        }

        .hei{
            height: 30px;
        }

        textarea{
            resize:none;
        }

        .submit{
            color:$white;
            background-color: $primary;
            padding: 16px;

            &:hover{
                background-color: $danger;
            }
           
        }
    }
}

